doctype html
html
	head
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script.
			$(document).ready(function(){
				$('#searchBar').keyup(function(){
					var input = $(this).val();
					$.post('/autocomplete', {input: input}, function(results){
						if(results.length !== 0){
							document.getElementById("searchuser1").setAttribute("value", results[0].firstname + " " + results[0].lastname)
						}
						if(results.length >= 2) {
							document.getElementById("searchuser2").setAttribute("value", results[1].firstname + " " + results[1].lastname)
						}
						if(results.length >= 3){
							document.getElementById("searchuser3").setAttribute("value", results[2].firstname + " " + results[2].lastname)
						}

					});
				});
			});
	body
		p
		form(action="/searchUsers" method="post" autocomplete="off")
			input(list="searchuser", name="input", id="searchBar" placeholder="Search")
			datalist#searchuser
				option(value="" id='searchuser1')
				option(value="" id='searchuser2')
				option(value="" id='searchuser3')
			input(type="submit" value="search")
			
			