doctype html
html
	head
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script.
			$(document).ready(function(){
				$('#searchBar').keyup(function(){
					$.post('/autocomplete', {input: $(this).val()}, function(results){
						
						$('#suggestion').empty();
						$('#suggestion').append(JSON.stringify(results));
					});
				});
			});
	body
		p 
		form(action="/searchUsers" method="post")
			input(type="text" id="searchBar")
			input(type="submit" value="search")
			br
			div(id="suggestion")