doctype html
html
	head
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script.
			$(document).ready(function(){
				var timeMs = Date.now();
				var requestTime = 0;
				$('#searchBar').keyup(function(){
					var input = $(this).val();
					if(Date.now() - requestTime > 300) {
						requestTime = Date.now();
						$.post('/autocomplete', {input: input}, function(results){
							if(results.length !== 0){
								document.getElementById("searchuser1").setAttribute("value", results[0].firstname + " " + results[0].lastname)
							}
							if(results.length >= 2) {
								document.getElementById("searchuser2").setAttribute("value", results[1].firstname + " " + results[1].lastname)
							}
							if(results.length >= 3){
								document.getElementById("searchuser3").setAttribute("value", results[2].firstname + " " + results[2].lastname)
							}
						});
					} else {
						console.log("test");
					}
				});
			});
	body
		p
		form(action="/search" method="post" autocomplete="off")
			input(list="searchuser", name="input", id="searchBar" placeholder="Search")
			datalist#searchuser
				option(value="" id='searchuser1')
				option(value="" id='searchuser2')
				option(value="" id='searchuser3')
			input(type="submit" value="search")
			
			