doctype html
html
	head
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script.
			$(document).ready(function(){
				$('#searchBar').keyup(function(){
					var input = $(this).val();
					$.post('/autocomplete', {input: input}, function(results){
						if(results.length !== 0){
							console.log("test: " + results[0].firstname 	)
							document.getElementById("option1").setAttribute("value", "klaas")
						}
						//- if(results.length === 2) {
						//- 	//fehlt noch etwas
						//- }
					});
				});
			});
	body
		p
		form(action="/searchUsers" method="post" autocomplete="off")
			input(list="searchuser", name="input", id="searchBar" value="Search")
			datalist#searchuser
				option(value="" id='option1')
				option(value="" id='option2')//- fehlt noche eine Option
			input(type="submit" value="search")
			
			